<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body> 
    <header>
        <a href = "#" class = "logomap">DUONG</a>
        <ul class="navbarmap">
            <li><a href="#home">Home</a></li>
            <li><a href="#home">Location</a></li>
            <li><a href="'{{ url_for('web.get_user_map')}}"></a></li>

        </ul>
        <a class = "btn" href="{{ url_for('google.logout') }}"><button>Logout</button></a> 
    </header>

    <a href="https://cloud.google.com/maps-platform/?apis=maps">https://cloud.google.com/maps-platform/?apis=maps</a>
    <form action="." method="GET">
        <input type="text" name="apikey" id="apikey"/><input type="submit" value="load"/>
    </form>
    <hr>
    {{ map.html }}
    
</body> 
</html>